<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='style2.css') }}">
    <title>Order {{order_number}} | Details</title>
</head>

<body>
    <h1>Order No. {{order_number}}</h1>
    <ul>
        <li>Customer: {{name}}</li>
        <li>Date of Order: {{date}}</li>
        <li>Book Title: {{book_title}}</li>
        <li>Author: {{author}}</li>
    </ul>
    <footer>
        <p><a href = "/orders">Back to Orders</a></p>
    </footer>
</body>
</html>